/*========Discord=======*/

.side a[href="https://discord.gg/'LINKHERE'"] {
    display: inline-block;
    height: 96px;
    width: 300px;
    background: url(%%discord%%);
}


.side a[href="https://discord.gg/'LINKHERE']:hover {opacity:0.8;transition: .4s opacity ease};
