.stylesheet-customize-container {
    width: 100%;
}
#subreddit_stylesheet {
    display: block;
    overflow: hidden;
}
.sheets {
    margin: 0;
}
#stylesheet_contents{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding: 5px;
    background-color: #222;
    color: #ace;
    border: 2px solid #222;
    height: 500px;
    font-size: 13px;
}



/*-------------------------------------------------
 E7 Subreddit Css 2.5 - new filter
theme by /u/Rinczmia
flairs by /u/mirukuti and u/Trihardz_kr
inspired by r/starcraft, r/soccerspirits , r/grandorder

Body
Header
Content
Link.Flair & Filter
SIDE.BAR & Search
User Flair

-------------------------------------------------*/

/*=====================BODY=====================*/

body{
    background:#e2e2e2;
    position: relative;
}

body>.content {
    margin: 30px 330px 0 5px;
}

.footer-parent {
    height: 300px;
    background-image: url(%%footerrr%%);
    text-align: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e2e2e2;
}

/*=====================HEADER=====================*/

#header {
  background: url(%%headerimg%%) no-repeat ;
  background-position: top;
  height: 215px;
  position: relative;
  border-bottom: none;
  background-color: #011627;
}

#header-img.default-header {
  display: none;
}

#header .tabmenu a{
    background: none;
    border: 0;
    color: #FFF;
    text-shadow: 0 0 2px #006cb0;
    font-size: 90%;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
}

#header .tabmenu a:hover{
    color: #FFFF66;
    text-shadow: 0 0 2px #FFFF66;
}

#header .tabmenu .selected a {
    color: #66a6cf;
    text-shadow: 0 0 2px #66a6cf;
}

.pagename {
  font-size: 0;
}

.pagename a{
    background-image:url(%%epic7rr%%);
    display: block;
    visibility: visible!important;
    background-position: 40px 5px;
    background-repeat: no-repeat;
    width: 240px;
    height: 140px;

}

.pagename a:hover {background-image:url(%%epic7rrhover%%);
    display: block;
    visibility: visible!important;
    background-position: 40px 5px;
    background-repeat: no-repeat;
    width: 240px;
    height: 140px;
    transition: opacity 0.2s ease-in;
}

#header-bottom-right {
    background-color: #011627;
    z-index: 10000;
    right: 15px;
    top:192px!important;
    opacity: 0.45;
    transition: opacity 0.2s ease;
}

#header-bottom-right:hover {
  opacity: 1;
}

.res #header-bottom-right {
    top:191px!important;
}

.user .userkarma{
    font-weight:normal;
}

#header-bottom-right a, #header-bottom-right .user {
    color: white;
    text-shadow: #222 0px 1px 0px; }

#header-bottom-right .pref-lang, #header-bottom-right .logout {
    font-weight: normal;
}

#header-bottom-right a:hover{
    color: #A8AFF5;
    text-decoration: none;
}


#header-bottom-left .tabmenu {
  background-color: #011627;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#header-bottom-left .tabmenu li {
  display: inline-block;
  margin: 0;
}


#header-bottom-left .tabmenu li a {
  background-color: #011627;
  border: none;
  border-bottom: 2px solid transparent;
  display: inline-block;
  font-weight: normal;
  font-size: 110%;
  color: #e3e3e3;
  padding: 6px 8px 2px;
}

#sr-header-area:hover .dropdown.srdrop,
#sr-header-area .dropdown.srdrop,
#sr-header-area .dropdown.srdrop .selected,
#sr-header-area:hover .dropdown.srdrop .selected{
    color: white; /* MY SUBREDDITS */
}

#sr-header-area{
  background-color: #011627;
  border: none;
  opacity: 0.25;
  transition: opacity 0.2s ease;
}

#sr-header-area:hover{
  opacity: 1;
}

#sr-more-link,
#sr-header-area .sr-bar a{
  color: #aaa;
  text-decoration: none;
  transition: color 0.2s ease;
}

#sr-header-area .sr-bar a:hover{
   text-decoration: underline;
}

.drop-choices.srdrop{
    background-color:#011627;
    opacity:1;
    border-color: #CC8400;
}

.drop-choices a{
    color: #CC8400;
}

.drop-choices.srdrop.inuse a.choice:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

#header .tabmenu [href*="/wiki/"] {
   font-size:0;
}

#header .tabmenu [href*="/wiki/"]:after {
   content:"/r/EpicSeven Wiki";
   font-size:small;
}

/*========================CONTENT========================*/

.content {
  box-sizing: border-box;
  margin: 0;
  margin-right: 300px;
  padding: 10px;
  padding-top: 17px;
}

.comment {
   background-color: white;
   border-radius: 0px;
}

/*=================LINK.FLAIR & Filters=================*/

.linkflairlabel{
    max-width: none;
    color: white;
    border-radius: 2px;
    border:none;
    padding: 0px 3px 0 3px;
    line-height: 13px;
}

.linklisting .thing {
    border:  none;
    border-left:  4px #AFAFAF solid;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
    border-radius: 2px;
}

/* it's important to have these border colors under here cause it overwrites the default color above */

.linkflair-fluff.thing{border-color:#9a9d84;}
.linkflair-fluff .linkflairlabel{background-color: #9a9d84;}

.linkflair-event.thing{border-color: #041F33;}
.linkflair-event .linkflairlabel{background-color: #041F33;}

.linkflair-announcement.thing{border-color: #9d1600;}
.linkflair-announcement .linkflairlabel{background-color: #9d1600;}

.linkflair-guide.thing{border-color: #005000;}
.linkflair-guide .linkflairlabel{background-color: #005000;}

.linkflair-Art.thing{border-color: #B56E38;}
.linkflair-Art .linkflairlabel{background-color: #B56E38;}

.linkflair-Discussion.thing{border-color: #614363;}
.linkflair-Discussion .linkflairlabel{background-color: #614363;}

.linkflair-Team.thing{border-color: #2F3136;}
.linkflair-Team .linkflairlabel{background-color: #2F3136;}

.linkflair-Megathread.thing{border-color: #9ABD19;}
.linkflair-Megathread .linkflairlabel{background-color: #9ABD19;}

.linkflair-spotlight.thing{border-color: #CE481C;}
.linkflair-spotlight .linkflairlabel{background-color: #CE481C;}

.linkflair-community.thing{border-color: #7B8AA9;}
.linkflair-community .linkflairlabel{background-color: #7B8AA9;}

html:lang(fluff) .link:not(.linkflair-fluff){display:none}
html:lang(event) .link:not(.linkflair-event){display:none}
html:lang(announcement) .link:not(.linkflair-announcement){display:none}
html:lang(guide) .link:not(.linkflair-guide){display:none}
html:lang(art) .link:not(.linkflair-art){display:none}
html:lang(discussion) .link:not(.linkflair-Discussion){display:none}
html:lang(team) .link:not(.linkflair-team){display:none}
html:lang(megathread) .link:not(.linkflair-Megathread){display:none}
html:lang(spotlight) .link:not(.linkflair-spotlight){display:none}
html:lang(community) .link:not(.linkflair-community){display:none}


.side a[href*='search?q=flair']{
      display: inline-block;
      position: relative;
      margin-top:0px;
      border: 1px solid;
      border-left-width: 5px;
      font-size: 100%;
      padding: 3px;
      color: black;
      font-weight: bold;
      background: white;
      min-width: 250px;
      text-align: left;
      border-radius: 3px;
}

.side a[href*='search?q=flair%3AFluff']{border-color:#9a9d84 }
.side a[href*='search?q=flair%3AEvent']{border-color:#041F33 }
.side a[href*='search?q=flair%3AGuide']{border-color:#005000 }
.side a[href*='search?q=flair%3AAnnouncement']{border-color:#9d1600 }
.side a[href*='search?q=flair%3AArt']{border-color:#B56E38 }
.side a[href*='search?q=flair%3ADiscussion']{border-color:#614363 }
.side a[href*='search?q=flair%3ATeam']{border-color:#2F3136 }
.side a[href*='search?q=flair%3AMegathread']{border-color:#9ABD19 }
.side a[href*='search?q=flair%3ASpotlight']{border-color:#CE481C }
.side a[href*='search?q=flair%3ACommunity']{border-color:#7B8AA9 }

/*=====================SIDE.BAR & Search=====================*/

.side  {
  background-color: transparent;
  border-width: 0;
  border-bottom: 0px solid #011627;
  box-sizing: border-box;
  margin-top: 15px;
  margin-right: 20px;
  width: 300px;
  padding-top:300px;
}

.side .md > h3:first-of-type {
   position: absolute; top: 10px;
   width: 280px;
   height: 190px;
   margin: 0;
   right: 16px;
   z-index: 1;
}
.side .md > h3:first-of-type a {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   background: transparent !important;
   font-size: 27.5px;
   color:transparent;
}

.side .spacer .titlebox, .side .spacer .sidecontentbox {
   padding: 5px;
   background: white;
   box-shadow: 0px 2px 4px rgba(0,0,0,.2);
   border-radius: 0px;
   margin-top: 15px;
}

.side .morelink {
   background:#fff;
   box-shadow:0 0 2.75px .25px rgba(0,0,0,0.2);
   border:none;
   border-left:4px solid #334452;
   text-align:center;
   font-size:14px;
   height:auto;
   line-height:14px;
}

.side .morelink:hover a {
   color:pink;
}

.side .morelink a {
   display:inline-block;
   padding:15px 10px;
   color:#334452;
   text-transform:uppercase;
   text-decoration:none;
   box-sizing:border-box;
}

.side .morelink .nub {
   display:none;
}

.sidebox.create .spacer {
  display: none;
}

#search input[type=submit] {
      top: 0px;
      position: center;
}

body.res-nightmode #search {
        background-color: transparent;
        border-color: #BBB;
}

.side .spacer:nth-of-type(1), .side .spacer:nth-of-type(2) {
      margin: 0px;
}


.sidecontentbox:hover{
    box-shadow: 0 2px 10px rgba(51,102,153,0.3);
}

.sidecontentbox a.helplink{
    margin-right: 10px;
}

.sidecontentbox .title{
    display: block;
    background-color: #334452;
    border-bottom: 1px solid #334452;
    padding: 5px;
    font-family: Arial;
}

.sidecontentbox .title h1{
    color: #fff;
    font-size: 10px;
}

.sidecontentbox .content{
    border: none;
    padding: 5px;
    background-color: #5B6974;
}

.icon-menu li{
    margin: 1px 0;
}

.icon-menu a{
    background: none;
    display: block;
    padding: 5px 0;
    transition: all 0.2s ease-in;
}

.icon-menu a:hover{
    text-decoration: none;
    background-color: #7F6065;
    padding-left: 5px;
}

#search {
      white-space: nowrap;
}
.side .spacer #search input[type=text] {
      z-index: 100;
      border: none;
      font-size: 14px;
      width: 300px;
      background: white;
      padding: 3px;
      margin-bottom: 10px;
      padding: 10px 25px 10px 16px;
      border-radius: 2px;
      margin-top: 10px;
      box-shadow: 0px 2px 4px rgba(0,0,0,.2);
}

.res-nightmode .side .spacer #search input[type=text]{
        background-color: #444;
}

#searchexpando{
        box-shadow: 0px 2px 4px rgba(0,0,0,.2);
        border-radius: 2px;
        border:0px;
        position: absolute;
        z-index: 99;
        width: 280px;
        height: auto;
        right: 0px;
        line-height: 25px;
}

#moresearchinfo {
        border: none;
        margin-top: 5px;
}

#searchexpando select {
        margin-left: 5px;
}

.subscribers .word {
  display: none;
}
.subscribers .number::after {
  content: " E7 Players";
}

/*users here now*/
.users-online .word {
  display: none;
}
.users-online .number::after {
  content: " stuck in re-roll hell  ";
}

.fancy-toggle-button a {
    color: #F2F2F2 !important;
    background:#011627  !important;
    border:  !important
}

.side blockquote + hr, .RESDialogContents blockquote+hr {
    border-width:0;
    width:0;
    background-color:transparent;
    margin:10px 0 0;
}

.side blockquote, .RESDialogContents blockquote {
    border:0 none;
    padding:10px;
    margin:0;
    background-color: #334452 ; /*color of boxes*/
    border-radius:2px;
    border-bottom:3px solid #A69CAC;
    color: white; /*color of text*/
}

.side .spacer .md h1, .side .spacer .md h2, .side .spacer .md h3 {
  background: transparent !important;
}

.side a{
  color: #E5ACB6; /*color of links*/
}

.age { display: none; }

/*==============Banner================*/
.side .md h5 {
    position: absolute;
    top: 210px;
    left: 25px;
    right: 350px;
    background-color: #334452!important;
    color: white;
    border: solid 1px #DCDFE0;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}


/*==============SidebarBanner================*/

.side .md [href="http://page.onstove.com/epicseven/global/board/list/e7en004/view/2254721?listType=6&direction=latest&display_opt=usertag_on,html_remove&afterBack=true&boardKey=e7en004"]{
    background: url(%%sidebar2%%) no-repeat;
    background-size: 305px 300px;
    position: absolute;
    top: 225px;
    right: 20px;
    width: 300px;
    height: 305px;
}

.side .md [href="http://page.onstove.com/epicseven/global/board/list/e7en004/view/2254721?listType=6&direction=latest&display_opt=usertag_on,html_remove&afterBack=true&boardKey=e7en004"]:hover {
   opacity:0.85;
   transition: .2s opacity ease;
}

/*==============Discord================*/

.side a[href="https://discord.gg/CTetAqC"] {
    display: inline-block;
    height: 96px;
    width: 290px;
    background: url(%%discorddec%%);
    background-repeat: no-repeat;
    background-position: center;
}


.side a[href="https://discord.gg/CTetAqC"]:hover {opacity:0.8;transition: .4s opacity ease}

/*=====================Frontpage Filters=====================*/
html[lang="nf"] .linkflair-fluff{display: none;}

.side .md h6{
   color:white;
   text-decoration: none;
   background-color: #334452;
   padding: 0;
   margin: 0;
   font-weight: bold;
   font-size: 16px;
}

.side .titlebox .md h6+ul > li{
    display: inline-block;
    position: relative;
    margin-top:0px;
    font-size: 140%;
    padding: 3px;
    font-weight: bold;
    background: #23272A;
    border-bottom: 2px solid #bcb496;
    width: 85px;
    height: 20px;
    text-align: center;
}

.side .titlebox .md h6+ul > li:hover {
  background-color: #2C2F33;
  top: -2px;
  border-bottom: 4px solid #FFFFFF;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

/*=====================User Flairs=====================*/

.flair {
    background: url(%%spritesheetv5%%) no-repeat -9999px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 34px;
    font-size: 10px;
    line-height: 30px;
    vertical-align: middle;
    display: in-line;
    border: none!important;
    transition: all .3s ease-out;
    transition-delay: .15s;
    position: relative;
    color: rgba(0, 0, 0, 0)!important;
    width: 50px;
    height: 50px;
}

.flair:hover {
    overflow: visible;
    color: rgba(0, 0, 0, 0)
}

.flair[title]:after {
    content: attr(title);
    position: absolute;
    color: white;
    font-family: Calibri;
    text-transform: uppercase;
    top: 0;
    left: -10px;
    background: #fff;
    box-shadow: 0 1px 10px #fff;
    padding: 0 5px;
    border-radius: 3px;
    white-space: nowrap;
    visibility: hidden;
    pointer-events: none;
    text-indent: 0;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    transform: scale(0.8, 0.4)
}
.flair[title]:before {
    bottom: 8px;
    left: 30px!important;
    box-shadow: 0 0 0 transparent!important;
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(0, 0, 0, 0);
    border-width: 8px;
    margin-left: -10px;
    background-color: transparent!important
}

.flair[title]:hover:before,
.flair[title]:hover:after,
.flair[title]:active:before,
.flair[title]:active:after {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    background: #011627;
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: 0 1px 0 rgba(46, 46, 44, 0.35);
    left: 35px;
    transition: all .3s cubic-bezier(0.100, 4.235, 0.215, 0.195) .05s, background-color .45s cubic-bezier(0.100, 0.235, 0.215, 1.195) .1s, border-right-color .45s cubic-bezier(0.100, 0.235, 0.215, 1.195) .1s
}

.flair[title=""]:hover:before {
    border-right-color: transparent;
    opacity: 0
}

.entry {
    margin-left: 3px;
    opacity: 1
}

.flairselector {
   width: 195px!important;
   border: none;
   border-radius: 2px;
   box-shadow: 0 0 16px rgba(0,0,0,0.12);
   margin-left: -25px;
}
.flairselector ul {width: 55px!important;}
.flairselector li {text-align: left!important;}
.flairselector .author {display: none;}

.res-nightmode .flair {background-color: transparent}


.link .flair,.entry .tagline .flair {
   float: left;
   background-color: transparent;
}


.flair-achates {
    width: 50px;
    height: 50px;
    background-position: 0 0;
}

.flair-adlay {
    width: 50px;
    height: 50px;
    background-position: 0 -50px;
}

.flair-aither {
    width: 50px;
    height: 50px;
    background-position: 0 -100px;
}

.flair-alexa {
    width: 50px;
    height: 50px;
    background-position: 0 -150px;
}

.flair-angelica {
    width: 50px;
    height: 50px;
    background-position: 0 -200px;
}

.flair-aramintha {
    width: 50px;
    height: 50px;
    background-position: 0 -250px;
}

.flair-arbitervildred {
    width: 50px;
    height: 50px;
    background-position: 0 -300px;
}

.flair-armin {
    width: 50px;
    height: 50px;
    background-position: 0 -350px;
}

.flair-arowell {
    width: 50px;
    height: 50px;
    background-position: 0 -400px;
}

.flair-assassincartuja {
    width: 50px;
    height: 50px;
    background-position: 0 -450px;
}

.flair-assassincoli {
    width: 50px;
    height: 50px;
    background-position: 0 -500px;
}

.flair-auxiliarylots {
    width: 50px;
    height: 50px;
    background-position: 0 -550px;
}

.flair-azalea {
    width: 50px;
    height: 50px;
    background-position: 0 -600px;
}

.flair-baalandsezan {
    width: 50px;
    height: 50px;
    background-position: 0 -650px;
}

.flair-basar {
    width: 50px;
    height: 50px;
    background-position: 0 -700px;
}

.flair-bask {
    width: 50px;
    height: 50px;
    background-position: 0 -750px;
}

.flair-bloodbladekarin {
    width: 50px;
    height: 50px;
    background-position: 0 -800px;
}

.flair-butchercorpsinquisitor {
    width: 50px;
    height: 50px;
    background-position: 0 -850px;
}

.flair-carmainerose {
    width: 50px;
    height: 50px;
    background-position: 0 -900px;
}

.flair-carrot {
    width: 50px;
    height: 50px;
    background-position: 0 -950px;
}

.flair-cartuja {
    width: 50px;
    height: 50px;
    background-position: 0 -1000px;
}

.flair-cecilia {
    width: 50px;
    height: 50px;
    background-position: 0 -1050px;
}

.flair-celeste {
    width: 50px;
    height: 50px;
    background-position: 0 -1100px;
}

.flair-celestialmercedes {
    width: 50px;
    height: 50px;
    background-position: 0 -1150px;
}

.flair-challengerdominiel {
    width: 50px;
    height: 50px;
    background-position: 0 -1200px;
}

.flair-charlotte {
    width: 50px;
    height: 50px;
    background-position: 0 -1250px;
}

.flair-chloe {
    width: 50px;
    height: 50px;
    background-position: 0 -1300px;
}

.flair-churchofilryosaxe {
    width: 50px;
    height: 50px;
    background-position: 0 -1350px;
}

.flair-cidd {
    width: 50px;
    height: 50px;
    background-position: 0 -1400px;
}

.flair-clarissa {
    width: 50px;
    height: 50px;
    background-position: 0 -1450px;
}

.flair-coli {
    width: 50px;
    height: 50px;
    background-position: 0 -1500px;
}

.flair-commanderlorina {
    width: 50px;
    height: 50px;
    background-position: 0 -1550px;
}

.flair-corvus {
    width: 50px;
    height: 50px;
    background-position: 0 -1600px;
}

.flair-crimsonarmin {
    width: 50px;
    height: 50px;
    background-position: 0 -1650px;
}

.flair-crozet {
    width: 50px;
    height: 50px;
    background-position: 0 -1700px;
}

.flair-darkcorvus {
    width: 50px;
    height: 50px;
    background-position: 0 -1750px;
}

.flair-destina {
    width: 50px;
    height: 50px;
    background-position: 0 -1800px;
}

.flair-diene {
    width: 50px;
    height: 50px;
    background-position: 0 -1850px;
}

.flair-dingo {
    width: 50px;
    height: 50px;
    background-position: 0 -1900px;
}

.flair-dominiel {
    width: 50px;
    height: 50px;
    background-position: 0 -1950px;
}

.flair-doris {
    width: 50px;
    height: 50px;
    background-position: 0 -2000px;
}

.flair-elson {
    width: 50px;
    height: 50px;
    background-position: 0 -2050px;
}

.flair-enott {
    width: 50px;
    height: 50px;
    background-position: 0 -2100px;
}

.flair-falconerkluri {
    width: 50px;
    height: 50px;
    background-position: 0 -2150px;
}

.flair-fightermaya {
    width: 50px;
    height: 50px;
    background-position: 0 -2200px;
}

.flair-generalpurrgis {
    width: 50px;
    height: 50px;
    background-position: 0 -2250px;
}

.flair-gloomyrain {
    width: 50px;
    height: 50px;
    background-position: 0 -2300px;
}

.flair-guideraither {
    width: 50px;
    height: 50px;
    background-position: 0 -2350px;
}

.flair-gunther {
    width: 50px;
    height: 50px;
    background-position: 0 -2400px;
}

.flair-haste {
    width: 50px;
    height: 50px;
    background-position: 0 -2450px;
}

.flair-hazel {
    width: 50px;
    height: 50px;
    background-position: 0 -2500px;
}

.flair-helga {
    width: 50px;
    height: 50px;
    background-position: 0 -2550px;
}

.flair-hurado {
    width: 50px;
    height: 50px;
    background-position: 0 -2600px;
}

.flair-iseria {
    width: 50px;
    height: 50px;
    background-position: 0 -2650px;
}

.flair-jecht {
    width: 50px;
    height: 50px;
    background-position: 0 -2700px;
}

.flair-jena {
    width: 50px;
    height: 50px;
    background-position: 0 -2750px;
}

.flair-judgekise {
    width: 50px;
    height: 50px;
    background-position: 0 -2800px;
}

.flair-judith {
    width: 50px;
    height: 50px;
    background-position: 0 -2850px;
}

.flair-karin {
    width: 50px;
    height: 50px;
    background-position: 0 -2900px;
}

.flair-ken {
    width: 50px;
    height: 50px;
    background-position: 0 -2950px;
}

.flair-kikiratv2 {
    width: 50px;
    height: 50px;
    background-position: 0 -3000px;
}

.flair-kiris {
    width: 50px;
    height: 50px;
    background-position: 0 -3050px;
}

.flair-kluri {
    width: 50px;
    height: 50px;
    background-position: 0 -3100px;
}

.flair-krau {
    width: 50px;
    height: 50px;
    background-position: 0 -3150px;
}

.flair-leo {
    width: 50px;
    height: 50px;
    background-position: 0 -3200px;
}

.flair-lorina {
    width: 50px;
    height: 50px;
    background-position: 0 -3250px;
}

.flair-lots {
    width: 50px;
    height: 50px;
    background-position: 0 -3300px;
}

.flair-ludwig {
    width: 50px;
    height: 50px;
    background-position: 0 -3350px;
}

.flair-luna {
    width: 50px;
    height: 50px;
    background-position: 0 -3400px;
}

.flair-martialartistken {
    width: 50px;
    height: 50px;
    background-position: 0 -3450px;
}

.flair-maya {
    width: 50px;
    height: 50px;
    background-position: 0 -3500px;
}

.flair-mercedes {
    width: 50px;
    height: 50px;
    background-position: 0 -3550px;
}

.flair-mirsa {
    width: 50px;
    height: 50px;
    background-position: 0 -3600px;
}

.flair-mistychain {
    width: 50px;
    height: 50px;
    background-position: 0 -3650px;
}

.flair-montmorancy {
    width: 50px;
    height: 50px;
    background-position: 0 -3700px;
}

.flair-mucacha {
    width: 50px;
    height: 50px;
    background-position: 0 -3750px;
}

.flair-nemunas {
    width: 50px;
    height: 50px;
    background-position: 0 -3800px;
}

.flair-nilgal {
    width: 50px;
    height: 50px;
    background-position: 0 -3850px;
}

.flair-otillie {
    width: 50px;
    height: 50px;
    background-position: 0 -3900px;
}

.flair-pearlhorizon {
    width: 50px;
    height: 50px;
    background-position: 0 -3950px;
}

.flair-purrgis {
    width: 50px;
    height: 50px;
    background-position: 0 -4000px;
}

.flair-pyllis {
    width: 50px;
    height: 50px;
    background-position: 0 -4050px;
}

.flair-ras {
    width: 50px;
    height: 50px;
    background-position: 0 -4100px;
}

.flair-ravi {
    width: 50px;
    height: 50px;
    background-position: 0 -4150px;
}

.flair-requiemroar {
    width: 50px;
    height: 50px;
    background-position: 0 -4200px;
}

.flair-rikoris {
    width: 50px;
    height: 50px;
    background-position: 0 -4250px;
}

.flair-rima {
    width: 50px;
    height: 50px;
    background-position: 0 -4300px;
}

.flair-rin {
    width: 50px;
    height: 50px;
    background-position: 0 -4350px;
}

.flair-romann {
    width: 50px;
    height: 50px;
    background-position: 0 -4400px;
}

.flair-roozid {
    width: 50px;
    height: 50px;
    background-position: 0 -4450px;
}

.flair-rose {
    width: 50px;
    height: 50px;
    background-position: 0 -4500px;
}

.flair-rueleoflight {
    width: 50px;
    height: 50px;
    background-position: 0 -4550px;
}

.flair-schuri {
    width: 50px;
    height: 50px;
    background-position: 0 -4600px;
}

.flair-secretshop {
    width: 50px;
    height: 50px;
    background-position: 0 -4650px;
}

.flair-serila {
    width: 50px;
    height: 50px;
    background-position: 0 -4700px;
}

.flair-sez {
    width: 50px;
    height: 50px;
    background-position: 0 -4750px;
}

.flair-shadowrose {
    width: 50px;
    height: 50px;
    background-position: 0 -4800px;
}

.flair-shootingstarachates {
    width: 50px;
    height: 50px;
    background-position: 0 -4850px;
}

.flair-sigret {
    width: 50px;
    height: 50px;
    background-position: 0 -4900px;
}

.flair-silk {
    width: 50px;
    height: 50px;
    background-position: 0 -4950px;
}

.flair-spectertenebria {
    width: 50px;
    height: 50px;
    background-position: 0 -5000px;
}

.flair-surin {
    width: 50px;
    height: 50px;
    background-position: 0 -5050px;
}

.flair-sven {
    width: 50px;
    height: 50px;
    background-position: 0 -5100px;
}

.flair-taranorguard {
    width: 50px;
    height: 50px;
    background-position: 0 -5150px;
}

.flair-taranorroyalguard {
    width: 50px;
    height: 50px;
    background-position: 0 -5200px;
}

.flair-tenebria {
    width: 50px;
    height: 50px;
    background-position: 0 -5250px;
}

.flair-tieria {
    width: 50px;
    height: 50px;
    background-position: 0 -5300px;
}

.flair-tywin {
    width: 50px;
    height: 50px;
    background-position: 0 -5350px;
}

.flair-vildred {
    width: 50px;
    height: 50px;
    background-position: 0 -5400px;
}

.flair-wanda {
    width: 50px;
    height: 50px;
    background-position: 0 -5450px;
}

.flair-wanderersilk {
    width: 50px;
    height: 50px;
    background-position: 0 -5500px;
}

.flair-watcherschuri {
    width: 50px;
    height: 50px;
    background-position: 0 -5550px;
}

.flair-yufine {
    width: 50px;
    height: 50px;
    background-position: 0 -5600px;
}

.flair-yuna {
    width: 50px;
    height: 50px;
    background-position: 0 -5650px;
}

.flair-zerato {
    width: 50px;
    height: 50px;
    background-position: 0 -5700px;
}

/*=====================TEST=====================*/

.wiki-page .wikititle{font-family:arial,sans-serif}

.wiki-page .wiki-page-content{
  color: #2C2F33;
  background: #F0F0F0;
  display: block;
  margin: 10px 0px;
  overflow: hidden;
  padding-top: 0px;
  padding-left: 10px;
  position: relative;
  border-radius:5px;
}

.wiki h1{
  color:#000!important;
  font-weight:300!important;
  display:block;
  margin:0px;
}
