/* E7 Test Css */

/*=====================$BODY=====================*/

body{
    background:#e2e2e2;
    position: relative;
    font-family: ;
}

body>.content {
    margin: 0px 332px 0 5px;
}

/*=====================$HEADER=====================*/

#header {
  background: url(%%headerimg%%) no-repeat ;
  background-position: top;
  height: 215px;
  position: relative;
  border-bottom: none;
  background-color: #011627;
}

#header-img.default-header {
  display: none;
}

#header .tabmenu a{
    background: none;
    border: 0;
    color: #FFF;
    text-shadow: 0 0 2px #006cb0;
    font-size: 90%;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
}

#header .tabmenu a:hover{
    color: #FFFF66;
    text-shadow: 0 0 2px #FFFF66;
}

#header .tabmenu .selected a {
    color: #66a6cf;
    text-shadow: 0 0 2px #66a6cf;
}

.pagename {
  font-size: 0;
}

.pagename a{
    background-image:url(%%epic7rr%%);
    display: block;
    visibility: visible!important;
    background-position: 40px 5px;
    background-repeat: no-repeat;
    width: 240px;
    height: 140px;

}

.pagename a:hover {background-image:url(%%epic7rrhover%%);
    display: block;
    visibility: visible!important;
    background-position: 40px 5px;
    background-repeat: no-repeat;
    width: 240px;
    height: 140px;
    transition: opacity 0.2s ease-in;
}

#header-bottom-right {
    background-color: #011627;
    z-index: 10000;
    right: 15px;
    top:192px!important;
    opacity: 0.45;
    transition: opacity 0.2s ease;
}

#header-bottom-right:hover {
  opacity: 1;
}

.res #header-bottom-right {
    top:191px!important;
}

.user .userkarma{
    font-weight:normal;
}

#header-bottom-right a, #header-bottom-right .user {
    color: white;
    text-shadow: #222 0px 1px 0px; }

#header-bottom-right .pref-lang, #header-bottom-right .logout {
    font-weight: normal;
}

#header-bottom-right a:hover{
    color: #A8AFF5;
    text-decoration: none;
}

#header-bottom-left .tabmenu {
  background-color: #011627;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 0px;
}

#header-bottom-left .tabmenu li {
  display: inline-block;
  margin: 0;
}


#header-bottom-left .tabmenu li a {
  background-color: #011627;
  border: none;
  border-bottom: 2px solid transparent;
  display: inline-block;
  font-weight: normal;
  font-size: 110%;
  color: #e3e3e3;
  padding: 6px 8px 2px;
}

#sr-header-area{
  opacity: 0.45;
  transition: opacity 0.2s ease;
}

#sr-header-area{
  background-color: #011627;
  border: none
}

#sr-header-area .sr-bar a{
  color: #aaa;
  text-decoration: none;
  transition: color 0.2s ease;
}

#sr-header-area .sr-bar a:hover{
  color: #fff;
}

/*=====================$CONTENT=====================*/

.content {
  box-sizing: border-box;
  margin: 0;
  margin-right: 300px;
  padding: 10px;
  padding-top: 17px;
}

/*=====================$LINK.FLAIR=====================*/

.linkflairlabel{
    max-width: none;
    color: white;
    border-radius: 2px;
    border:none;
    padding: 0px 3px 0 3px;
    line-height: 13px;
}

.linklisting .thing {
    border:  none;
    border-left:  4px #AFAFAF solid;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
    border-radius: 2px;
}

/* jimmy it's important to have these border colors under here cause it overwrites the default color above */

.linkflair-image.thing{
border-color:#49af77;
}
.linkflair-image .linkflairlabel{
background-color: #49af77;
}

.linkflair-info.thing{
border-color: #476a96;
}
.linkflair-info .linkflairlabel{
background-color: #476a96;
}

html:lang(img) .link:not(.linkflair-image){
  display:none
}

html:lang(info) .link:not(.linkflair-info){
  display:none
}

.side .md [href*="search?q=flair"] {
    vertical-align: middle;
    display: inline-block;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #000;
    border-width: 3px;
    border-radius: 4px;
    margin: 2px;
    text-align: center;
}

.side .md [href*="search?q=flair%3AImage"] {
    background-color: red;
    border-color: red;
    color: white;
}

.side .md [href*="search?q=flair%3AInfo"] {
    background-color: orange;
    border-color: orange;
    color: white;
}

/*=====================$SIDE.BAR & Search=====================*/

.side:before {
  display: block;
  position: relative;
  width: 300px;
  vertical-align: bottom;
  text-align: center;
  background: url(%%sidebar1%%) no-repeat;
  content: "";
  padding-top: 150px; /* HEIGHT */
}

.side {
  background-color: transparent;
  border-width: 0;
  border-bottom: 0px solid #011627;
  box-sizing: border-box;
  margin: 10px;
  width: 300px;
  position: relative;
}

.side .spacer .titlebox, .side .spacer .sidecontentbox {
   padding: 5px;
   background: white;
   box-shadow: 0px 2px 4px rgba(0,0,0,.2);
   border-radius: 0px;
   margin-top: 15px;
}

.sidebox .morelink {
  background: none;
  border-width: 0;
  font-size: 13px;
  height: auto;
  line-height: 1;
  padding: 0;
  text-align: left;
}

.sidebox .morelink a {
  background-color: #334452;
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  display: block;
  font-weight: normal;
  padding: 10px 12px;
  transition: all .2s ease;
}

.sidebox .morelink a:before {
  content: '[+]';
  display: inline-block;
  margin-right: 4px;
}

.sidebox .morelink a:active {
  background-color: #5B6974;
}

.sidebox .morelink .nub {
  display: none;
}

.sidebox.create .spacer {
  display: none;
}

#search input[type=submit] {
      top: 7px;
      position: relative;
}

body.res-nightmode #search {
        background-color: transparent;
        border-color: #BBB;
}

.side .spacer:nth-of-type(1), .side .spacer:nth-of-type(2) {
      margin: 0px;
}


.sidecontentbox:hover{
    box-shadow: 0 2px 10px rgba(51,102,153,0.3);
}

.sidecontentbox a.helplink{
    margin-right: 10px;
}

.sidecontentbox .title{
    display: block;
    background-color: #334452;
    border-bottom: 1px solid #334452;
    padding: 5px;
    font-family: Arial;
}

.sidecontentbox .title h1{
    color: #fff;
    font-size: 10px;
}

.sidecontentbox .content{
    border: none;
    padding: 5px;
    background-color: #5B6974;
}

.icon-menu li{
    margin: 1px 0;
}

.icon-menu a{
    background: none;
    display: block;
    padding: 5px 0;
    transition: all 0.2s ease-in;
}

.icon-menu a:hover{
    text-decoration: none;
    background-color: #7F6065;
    padding-left: 5px;
}

#search {
      white-space: nowrap;
}
.side .spacer #search input[type=text] {
      z-index: 100;
      border: none;
      font-size: 14px;
      width: 300px;
      background: white;
      padding: 3px;
      margin-bottom: 10px;
      padding: 10px 25px 10px 16px;
      border-radius: 2px;
      margin-top: 10px;
      box-shadow: 0px 2px 4px rgba(0,0,0,.2);
}
    
.res-nightmode .side .spacer #search input[type=text]{
        background-color: #444;
}
    
#searchexpando{
        box-shadow: 0px 2px 4px rgba(0,0,0,.2);
        border-radius: 2px;
        border:0px;
        position: absolute;
        z-index: 99;
        width: 280px;
        height: auto;
        right: 0px;
        line-height: 25px;
}
    
#moresearchinfo {
        border: none;
        margin-top: 5px;
}
    
#searchexpando select {
        margin-left: 5px;
}

.subscribers .word {
  display: none;
}
.subscribers .number::after {
  content: " E7 Players";
}

/*users here now*/
.users-online .word {
  display: none;
}
.users-online .number::after {
  content: " stuck in re-roll hell  ";
}

.fancy-toggle-button a {
    color: #F2F2F2 !important;
    background:#011627  !important;
    border:  !important
}


.side blockquote + hr, .RESDialogContents blockquote+hr {
    border-width:0;
    width:0;
    background-color:transparent;
    margin:10px 0 0;
}

.side blockquote, .RESDialogContents blockquote {
    border:0 none;
    padding:10px;
    margin:0;
    background-color: #334452 ; /*color of boxes*/
    border-radius:2px;
    border-bottom:3px solid #A69CAC;
    color: white; /*color of text*/
}

.side .spacer .md h1, .side .spacer .md h2, .side .spacer .md h3 { 
  background: transparent !important; 
}

.side a{
  color: #FFC0CB; /*color of links*/
}
