.sidebox .morelink {
  background: none;
  border-width: 0;
  font-size: 13px;
  height: auto;
  line-height: 1;
  padding: 0;
  text-align: left;
}

.sidebox .morelink a {
  background-color: #334452;
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  display: block;
  font-weight: normal;
  padding: 10px 12px;
  transition: all .2s ease;
}

.sidebox .morelink a:before {
  content: '[+]';
  display: inline-block;
  margin-right: 4px;
}

.sidebox .morelink a:active {
  background-color: #5B6974;
}

.sidebox .morelink .nub {
  display: none;
}
